root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:warning
dotnet_diagnostic.IDE0011.severity = warning

csharp_space_around_binary_operators = before_and_after
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_before_colon_in_inheritance_clause = true

dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpacingRules.severity = warning
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.LayoutRules.severity = warning
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = warning
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.NamingRules.severity = warning
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.MaintainabilityRules.severity = warning
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.ReadabilityRules.severity = warning
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpecialRules.severity = warning

# I find mandatory documentation on every method to be massive overkill, unless the code is horribly unreadable.
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none
dotnet_diagnostic.SA0001.severity = none

# We can stack parameters or separate them between lines
dotnet_diagnostic.SA1117.severity = none

# No unnecessary "this." prefix, use _ instead
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1309.severity = none

# No unnecessary trailing commas
dotnet_diagnostic.SA1413.severity = none



